* {    
    padding: 0;
    border: none;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f9f8ff;
}


header {
    width: 100%;
    height: 190px;
    background-color:#ffffd3;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-around;
}

header div {
    display: grid;
    width: auto;
    padding: 50px 20px;
    font-size: 16px;
}

header div.header-logo {
    height: auto;
}

header div img{
    max-width: 220px;
}

header div h1 {
    font-size: 30px;
    font-weight: bold;
    color: #212429;
}

header div .text-right {
    text-align: right;
}

header div h3 {
    font-size: 24px;
    font-weight: bolder;
    color: #212429;
}

header div .text-center {
    text-align: center;
}

nav,
footer {
    width: 100%;
    min-height: 35px;
    background-color: #007ab0;
    color: white;
    text-align: center;
    padding: 10px 0;
    max-height: 120px;
    height: auto;
}

nav ul li {
    display: inline;

}

nav a {
    color: rgb(201, 201, 201);
    padding: 0 35px 20px;
    text-decoration: none;
    font: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav img {
    max-height: 40px;
    border-radius: 8px;
}

main {
    max-width: 800px;
    min-height: 450px;
    display: inline;
    float: left;
    width: auto;
    height: auto;
    padding: 5px 5px;
}

main article {
    border: 2px solid  #333333;
    border-radius: 15px;
    padding: 25px 15px 5px;
}


main article.small-article {
    display: inline-block;
    width: 260px;
    height: 220px;
}

main article.large-article {
    display: inline-block;
    width: 790px;
    height: 220px;
    margin-top: 5px;
}

main article div.info{
    align-items: center;
    display: inline-flex;
}

main article img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    border-radius: 8px;
}

main article h2{
    text-align: center;
    margin-bottom: 10px;
    color: #212429;
    font-size: 16px;
}

main article p {
    color: #4b4d50;
    font-size: 14px;
}


main article a {
    text-transform: uppercase;
    font-size: 11px;
}
aside {
    max-width: 300px;
    min-height: 455px;
    display: inline-grid;
    width: 100%;
    height: 100%;
    padding: 5px 5px;
}
aside section {
    border: 2px solid  #333333;
    border-radius: 15px;
    padding: 25px 15px 5px;
   
}

aside section h2{
    text-align: center;
    margin-bottom: 10px;
    color: #212429;
    font-size: 16px;

}

aside section p {
    color: #4b4d50;
    font-size: 14px;
}
 
aside section #image-corgi {
    max-width: 265px;
    max-height: 380px;
    background: transparent url("../img/costumecorgi.png") no-repeat no-repeat center;
    background-size: contain;
    height: 100%;
    border-radius: 8px;
} 


footer {
    bottom: 0;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    position: fixed;
}
